{% extends "stock/base.html" %}

{% block control %}
<!--<div class="row legende">
        <div class="col-sm-1">
            <div class="btn-group">
                <button type="button"
                class="btn-filtre dropdown-toggle" data-toggle="dropdown">
                catégorie <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                <li><a href="#">Nouveau</a></li>
                <li><a href="#">Editer</a></li>
                <li class="divider"></li>
                <li><a href="#">Supprimer</a></li>
                </ul>
            </div>
        </div>
    </div> -->
    <div class="row control">
        <form method="POST" action="{% url 'stock_list' %}">{% csrf_token %}
            <div class="col-sm-12">
                {{ form1 }}
            </div>
            <div class="col-sm-12">
                {{ form2 }}
            </div>
            <div class="col-sm-12">
                {{ form3 }}
            </div>
            <div class="col-md-2">
                <label>Lignes/page : </label>
                <input class="btn-spe" name="nb_par_page" type="number" min="5" max="20" value="{{ affichage }}"/>
            </div>
            <div class="col-sm-8">
                <button type="submit" class="btn-filtre"><strong>Appliquer</strong></button>
            </div>
        </form>
    </div>
    <div class="row legende">
        <div class="col-sm-2 col-xs-3">
            Total de lignes : {{ compte }}
        </div>
        <div class="col-sm-1 col-xs-3 col-sm-offset-4">
            {% if liste.has_previous %}
                <a href="{% url 'stock_list' %}?page=1 "><button class='btn-filtre'>Première</button></a>
            {%  else %}
                <button class='btn-filtre'>Première</button>
            {% endif %}
        </div>
        <div class="col-sm-1 col-xs-3">
            {% if liste.has_previous %}
                <a href="{% url 'stock_list' %}?page={{ liste.previous_page_number }} "><button class='btn-filtre'>Précédente</button></a>
            {%  else %}
                <button class='btn-filtre'>Précédente</button>
            {% endif %}
        </div>
        <div class="col-sm-2 col-xs-4">
            <button class='btn-filtre'>Page {{ liste.number }} sur {{ liste.paginator.num_pages }}</button>
        </div>
        <div class="col-sm-1 col-xs-3">
            {% if liste.has_next %}
                <a href="{% url 'stock_list' %}?page={{ liste.next_page_number }} "><button class='btn-filtre'>Suivante</button></a>
            {%  else %}
                <button class='btn-filtre'>Suivante</button>
            {% endif %}
        </div>
        <div class="col-sm-1 col-xs-3">
            {% if liste.has_next %}
                <a href="{% url 'stock_list' %}?page={{ liste.paginator.num_pages }} "><button class='btn-filtre'>Dernière</button></a>
            {%  else %}
                <button class='btn-filtre'>Dernière</button>
            {% endif %}
        </div>
    </div>
{% endblock control %}