{% extends 'stock/ctrl.html' %}

{% block content %}
    <div class="row legende">
        <div class="col-xs-1">
            catégorie
        </div>
        <div class="col-xs-1">
            type
        </div>
        <div class="col-xs-2">
             <div class="row">
                <div class="col-xs-8">
                    accès
                </div>
                 <div class="col-xs-4">
                    quantité
                </div>
             </div>
        </div>
        <div class="col-xs-4">
            désignation
        </div>
        <div class="col-xs-1">
            marque
        </div>
        <div class="col-xs-1">
            modèle
        </div>
        <div class="col-xs-2">
             <div class="row">
                <div class="col-xs-4">
                    prix
                </div>
                 <div class="col-xs-8">
                    état
                </div>
             </div>
        </div>
    </div>
    {% for entree in liste %}
        <div class="list">
            <div class="row {% cycle 'row1' 'row2' %}">
                <div class="col-xs-1">
                    <font color="{{ entree.categorie.couleur }}" >{{ entree.categorie }}</font>
                </div>
                <div class="col-xs-1">
                    <font color="{{ entree.type.couleur }}">{{ entree.type }}</font>
                </div>
                <div class="col-xs-2">
                    <div class="row">
                        <div class="col-xs-8">
                            <font color="{{ entree.acces.couleur }}">{{ entree.acces }}</font>
                        </div>
                        <div class="col-xs-4">
                            {{ entree.quantite }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <a href="javascript:void(0)" onclick="document.getElementById('light{{ forloop.counter }}').style.display='block'">
                    <strong>{{ entree.designation }}</strong>
                    </a>
                </div>
                <div class="col-xs-1">
                    {{ entree.marque }}
                </div>
                <div class="col-xs-1">
                    {{ entree.modele }}
                </div><div class="col-xs-2">
                    <div class="col-xs-4">
                        {{ entree.prix_achat }} €
                    </div>
                    <div class="col-xs-8">
                        {{ entree.etat }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="light{{ forloop.counter }}" class="white_content">
                    <a class="save" href="javascript:void(0)" onclick="document.getElementById('light{{ forloop.counter }}').style.display='none'">X</a>
                    <div class="row">
                        <div class="col-xs-4">
                            <p>Date entrée : {{ entree.date_entree }}</p>
                            {% if user.is_authenticated %}
                                <p>Prix d'achat : {{ entree.prix_achat }} €</p>
                            {% else %}
                                <p>Prix d'achat : <font color="red">login requis</font></p>
                            {% endif %}
                            <p>Propriétaire : <font color="{{ entree.proprietaire.couleur }}">{{ entree.proprietaire }}</font></p>
                        </div>
                        <div class="col-xs-7">
                            <p>Date inventaire : {{ entree.date_inventaire }}</p>
                            <p>Url fournisseur : {{ entree.url_fournisseur }}</p>
                            <p>Commentaire : {{ entree.commentaire }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <p><a href="javascript:void(0)" onclick="document.getElementById('light{{ forloop.counter }}').style.display='none'">Fermer</a></p>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <li>Il n'y en a pas actuellement.</li>
    {% endfor %}
    <div class="pagination">
        <span class="current">Total de lignes : {{ compte }} </span>
    </div>
    <div class="pagination save">
        {% if liste.has_previous %}
            <a href="{% url 'stock_list' %}?page=1 ">Première</a> -
            <a href="{% url 'stock_list' %}?page={{ liste.previous_page_number }} ">Précédente</a> -
        {% endif %}

        <span class="current">Page {{ liste.number }} sur {{ liste.paginator.num_pages }}</span>

        {% if liste.has_next %}
            - <a href="{% url 'stock_list' %}?page={{ liste.next_page_number }} ">Suivante</a>
            - <a href="{% url 'stock_list' %}?page={{ liste.paginator.num_pages }} ">Dernière</a>
        {% endif %}
    </div>

{% endblock content %}